{% extends "base.html" %}
{%block content%}

<div style="center" id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Our Agency</h2><br>
      <h4>Travel agency is one of the most important organizations in the tourism private sector which plays a significant and crucial role in the entire process of developing and promoting tourism in the country or at a destination. It is a travel agency which packages and processes all the attractions, accesses, amenities and ancillary services of a country and present them to tourists. That’s why travel agency is known as ‘image builder‘ of a country.</h4><br>
      <p>A prospective travel agency is one which makes arrangements of travel tickets (air, rail, road, and sea); travel documents (passports, visa and other documents required to travel); accommodation, entertainment, and other travel-related services from principle suppliers. It may also secure travel insurance, foreign currency for traveling people.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

{% endblock %}
